1 <?xml version="1.0" encoding="UTF-8" ?> 
2     <widget xmlns   = "http://www.w3.org/ns/widgets" 
3         xmlns:gap   = "http://phonegap.com/ns/1.0" 
4         id          = "com.chronicleconstruction.demo" 
5         versionCode = "2"  
6         version     = "1.0.0" > 
7 
 
8     <name>Chronicle construction prototype</name> 
9 
 
10     <description> 
11         This is the chronicle construction prototype app. A project journal and record keeper 
12     </description> 
13 
 
14     <author email="aureliogomespt@gmail.com"> 
15         Aurelio Gomes 
16     </author> 
17 
 
18     <content src="index.html" /> 
19 
 
20     <preference name="orientation" value="landscape" /> 
21 
 
22     <feature name="http://api.phonegap.com/1.0/camera"/> 
23     <feature name="http://api.phonegap.com/1.0/geolocation"/> 
24     <feature name="http://api.phonegap.com/1.0/network"/> 
25     <icon src="icon.png" /> 
26 
 
27 </widget> 
