<?xml version="1.0" encoding="UTF-8" ?> 
   <widget xmlns   = "http://www.w3.org/ns/widgets" 
       xmlns:gap   = "http://phonegap.com/ns/1.0" 
       id          = "com.chronicleconstruction.demo" 
       versionCode = "2"  
       version     = "1.0.0" > 

 
   <name>Chronicle construction prototype</name> 

 
    <description> 
        This is the chronicle construction prototype app. A project journal and record keeper 
    </description> 

 
    <author email="iuriramalli@hotmail.com" href="turingrepublic.com"> 
        Sergio Ramalli gomes 
 </author> 

 
    <content src="index.html" /> 

 
    <preference name="orientation" value="landscape" /> 

 
   <feature name="http://api.phonegap.com/1.0/camera"/> 
    <feature name="http://api.phonegap.com/1.0/geolocation"/> 
    <feature name="http://api.phonegap.com/1.0/network"/> 
    <icon src="icon.png" />
 
</widget> 
